body {
  font: 14px Arial, sans-serif;
  background-color: black;
  color: lightblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dim {
  height:100%;
  width:100%;
  position:fixed;
  left:0;
  top:0;
  z-index:1 !important;
  background-color: #666;
  visibility: hidden;
  filter: alpha(opacity=75); /* internet explorer */
  -khtml-opacity: 0.75;      /* khtml, old safari */
  -moz-opacity: 0.75;       /* mozilla, netscape */
  opacity: 0.75;           /* fx, safari, opera */
}

.dim-running {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 150px;
  height: 250px;
  z-index:2;
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 5px;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.1em;
}

h2.tabTitleActive {
  color: red;
}

a.ui_link, a.ui_link:link, a.ui_link:visited {
  background: lightblue;
  display: block;
  padding: .5em;
  font-weight: bold;
  font-size: .9em;
  color: #000;
  border-radius: 1em;
  margin-bottom: .5em;
} 
a.ui_link:hover, a.ui_link:active {
  background: darkblue;
  cursor: pointer;
  display: block;
  font-weight: bold;
  color: #fff;
  border-radius: 1em;
} 
#container-left {
  width: 15%;
  min-width: 150px;
  float: left;
}
#container-right {
  width: 80%;
  clear: both;
}
#logo {
  border-radius: 1em;
}

#logo a:link, #logo a:visited {
  background: none;
}
#logo a:hover, #logo a:active {
  background: none;
}

#infoTextArea,
#TestInfoArea {
  float: left;
  margin: 1em;
  width: 100%;
}
#infoTextArea {
  background: none repeat scroll 0 0 clear;
  padding-left: 1em;
  margin-left: 1em;
  width: 25%;
  border-radius: 1em;
}

#TestInfoAreaTitle {
  font-size: 1.5em;
}

#TestArea {
  float: left;
  padding: 2em;
  padding-top: 0em;
}
#TestArea a:link, 
#TestArea a:visited, 
#TestArea a:hover, 
#TestArea a:active, 
  margin-left: .5em;
}
#TestArea h2 {
  display: block;
  padding: .5em;
}
#TestArea h4:hover {
  cursor: pointer;
  color: white;
  background: darkblue;
}
#TestDetailArea {
  float: left;
  width: 100%;
}
#PreferencesArea {

}
#Results {
  position: relative;
  z-index: 5;
  float: right;
}
#ResultsList {
  float: left;
}

div.testresult {
  font-style: italic;
  padding-left: 1em;
  border: #999;
}

#MajorResultArea {
  position: relative;
  float: left;
  background: none repeat scroll 0 0 #ccc;
  border: 2px dashed #999;
  border-radius: 5px;
  max-width: 300px;
  overflow: auto;
}
#GraphResultsArea {
  float: left;
/*  width: 500px; */
}
#GraphResultsArea svg {
  float: left;
}
#GraphResultsArea a {
  font-size: .75em;
}

div.Preferences {
  display: none;
}

.results-container {
  float: left;
  width: 400px;
}

.results-container input {
  display: none;
}

.results-container label {
  position: relative;
  display: block;
}

.results-container label:hover{
  cursor: pointer;
}

.hoveredResult {
  font-weight: bold;
}

.results-dot {
  cursor: pointer;
  fill: #ccc;
  stroke: black;
  stroke-width: 1;
}

.results-dot-hover {
  stroke-width: 4;
}

.results-container div div {
    background: none repeat scroll 0 0;
    background-color: rgba(157, 157, 157, 0.3);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    transition:
        height 0.3s ease-in-out,
        box-shadow 0.6s linear;
}
.results-container div input:checked ~ div{
    transition:
        height 0.5s ease-in-out,
        box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
    height: 2.5em;
    width: 100%;
    overflow: auto;
    background: none repeat scroll 0 0;
    background-color: rgba(157, 157, 157, 0.3);
}

div.tooltip_style {
  position: absolute;
  z-index: 11;
  visibility: hidden;
  color: white;
  padding: 4px;
  border-color: black;
  border-radius: 5px;
  font-weight: bold;
}